body {
  font-family: "Exo 2", verdana, sans-serif;
  font-size: 1.5em;
  position: relative;
}

h1 {
  text-align: center;
}

a {
  color: #00B7FF;
}

.initial-buttons {
  text-align: center;
}

.initial-button {
  width: 20%;
  padding: 5px;
  margin-top: 8px;
  margin-bottom: : 8px;
  margin-left: 33%;
  margin-right: 33%;
  display: inline-block;

  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: content-box;

  text-align: center;
  font-size: 1em;

  cursor: pointer;
}

.hidden-generate {
  position: fixed;
  visibility: hidden;
  z-index: 50;
  border-style: solid;
  border-width: 1px;

  text-align: center;

  margin-top: 10%;
  margin-left: 36%;
  margin-right: 33%;

  padding: 1%;

  background-color: white;
}

#display {
  text-align: left;
  width: 50%;
  margin-left: 33%;
  margin-right: 33%;
  margin-top: 10px;

}

.display-card {
  display: grid;
  grid-template-columns: 45% 55%;
  padding: 4px;
  width: 70%;
  border-style: solid;
  border-width: thin;
}

.display-item {
}

.display-image {
  height: 300px;
  grid-column: 1;
  grid-row: 1 / span 4;
  justify: right;
  text-align: right;
  right: 0px;
  width: 100%;
}

.display-header {
  grid-column: 2;
  grid-row: 1;
}

.display-race {
  grid-column: 2;
  grid-row: 2;
  font-size: 1em;
}

.display-job {
  grid-column: 2;
  grid-row: 3;
  font-size: 0.8em;
}

.display-age {
  grid-column: 2;
  grid-row: 4;
  font-size: 0.8em;
}

.display-highSkillHeading {
  grid-column: 1;
  grid-row: 5;
  font-size: 0.7em;
}

.display-highSkill {
  grid-column: 2;
  grid-row: 5;
  font-size: 0.7em;
}

.display-lowSkillHeading {
  grid-column: 1;
  grid-row: 6;
  font-size: 0.7em;
}

.display-lowSkill {
  grid-column: 2;
  grid-row: 6;
  font-size: 0.7em;
}

#list-container {
  display: none;
}

#list-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.list-card {
  border-style: solid;
  border-width: thin;
  border-radius: 4px;
  margin: 4px;
  padding-left: 4px;
  padding-right: 4px;
  cursor: pointer;
}
