body {
  font-family: "Exo 2", verdana, sans-serif;
  font-size: 1.5em;
  position: relative;
  background-image: url('../images/background.jpg'), url('../images/backgroundtop.png');
  background-repeat: no-repeat, no-repeat;
  background-position: right bottom, left top;
  background-attachment: fixed, fixed;
}

h1 {
  text-align: center;
}

a {
  color: #00B7FF;
}
.megadiv {
  background-color: #263238;
}

.headers {
  position: relative;
}

.overall-header {
  opacity: 1;
}

.overall-header.fade {
  transition: opacity 0.75s;
  -webkit-transition: opacity 0.75s;
  opacity: 0;
}

.overall-header.fadeIn {
  transition: opacity 1.1s;
  -webkit-transition: opacity 1.1s;
  opacity: 1;
}

.second-header {
  opacity: 0;
  position: absolute;
  top: 0px;
  right: 42%;
  text-align: center;
}

.second-header.fade {
  transition: opacity 0.75s;
  -webkit-transition: opacity 0.75s;
  opacity: 0;
}

.second-header.fadeIn {
  transition: opacity 1.1s;
  -webkit-transition: opacity 1.1s;
  opacity: 1;
}

.display-page {
  z-index: 10;
}

.display-page.fade {
  transition: opacity 0.75s;
  -webkit-transition: opacity 0.75s;
  opacity: 0;
}

.display-page.fadeIn {
  transition: opacity 1.1s;
  -webkit-transition: opacity 1.1s;
  opacity: 1;
}

.initial-buttons {
  text-align: center;
}

.initial-button {
  width: 20%;
  padding: 5px;
  margin-top: 8px;
  margin-bottom: 4px;
  margin-left: 33%;
  margin-right: 33%;
  display: inline-block;

  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: content-box;
  text-align: center;
  font-size: 1em;

  cursor: pointer;
}

.hidden-generate {
  position: fixed;
  top: 10%;
  z-index: 50;

  text-align: center;

  margin-top: 2%;
  width: 35%;
  margin-left: 31%;
  margin-right: 39%;
  padding: 1%;

  height: 45%;

  opacity: 0;

  pointer-events: none;
}

.hidden-generate.fadeIn {
  transition: opacity 1.1s;
  -webkit-transition: opacity 1.1s;
  opacity: 1;
  pointer-events: auto;
}

.hidden-generate.fade{
  transition: opacity 0.75s;
  -webkit-transition: opacity 0.75s;
  opacity: 0;
  pointer-events: none;
  cursor: default;
}

.generate-form {
  font-size: 0.8em;
  height: 140%;
  width: 100%;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  text-align: center;
  padding: 5px;
}

.form-header {
  font-size: 1em;
}

#firstNameRNG, #lastNameRNG, #ageRNG, #raceRNG, #jobRNG, #firstNameRNGUp, #lastNameRNGUp, #ageRNGUp, #raceRNGUp, #jobRNGUp {
  -webkit-appearance: button;
  -moz-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
  background-color: #2A74B1; /* fallback color if gradients are not supported */
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  color: white;
  font-size: inherit;
  font-family: inherit;
  text-align: center;
  margin: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  cursor: pointer;
  text-align-last: center;
}

input[type=text], input[type=number] {
  width: 50%;
  padding: 6px 6px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 0.8em;
  text-align: center;
  font-family: "Exo 2", verdana, sans-serif;
}

input[type=submit], #cancel-button, #cancel-buttonUp, #delete-button {
  width: 50%;
  background-color: #2A74B1;
  color: white;
  padding: 7px 6px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Exo 2", verdana, sans-serif;
  font-size: 1em;
}

input[type=radio] {
  margin: 10px;
  font-size: 1em;
}

input[type=submit]:hover {
  background-color: #1C2E5A;
}

#cancel-button:hover, #cancel-buttonUp:hover, #delete-button:hover {
  background-color: #1C2E5A;
}


#firstNameRNG:hover, #lastNameRNG:hover, #ageRNG:hover, #raceRNG:hover, #jobRNG:hover, #jobs-select:hover, #race-select:hover {
  background-color: #1C2E5A;
}

#firstNameRNGUp:hover, #lastNameRNGUp:hover, #ageRNGUp:hover, #raceRNGUp:hover, #jobRNGUp:hover {
  background-color: #1C2E5A;
}

label {
  width: 75%;
  padding: 3px 6px;
  margin: 2px 0;
  display: inline-block;
  text-align: center;
}

select {
  -webkit-appearance: button;
  -moz-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
  background-color: #2A74B1; /* fallback color if gradients are not supported */
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  color: white;
  font-size: inherit;
  font-family: inherit;
  text-align: center;
  margin: 5px;
  padding: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  cursor: pointer;
  text-align-last: center;
}

option {
  display: inline-block;

}

.hidden-update {
  position: fixed;
  top: 10%;
  z-index: 50;

  text-align: center;

  margin-top: 2%;
  width: 35%;
  margin-left: 31%;
  margin-right: 39%;
  padding: 1%;

  height: 45%;

  opacity: 0;

  pointer-events: none;
}

.hidden-update.fadeIn {
  transition: opacity 1.1s;
  -webkit-transition: opacity 1.1s;
  opacity: 1;
  pointer-events: auto;
}

.hidden-update.fade{
  transition: opacity 0.75s;
  -webkit-transition: opacity 0.75s;
  opacity: 0;
  pointer-events: none;
  cursor: default;
}

.update-form {
  font-size: 0.75em;
  height: 155%;
  width: 100%;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  text-align: center;
  padding: 5px;
}

.catch-all{

}

.catch-all.fade {
  transition: opacity 0.75s;
  -webkit-transition: opacity 0.75s;
  opacity: 0;
  pointer-events: none;
  cursor: default;
}

.catch-all.fadeIn {
  transition: opacity 1.1s;
  -webkit-transition: opacity 1.1s;
  opacity: 1;
}

#display {
  text-align: left;
  margin-left: 35%;
  margin-right: 35%;
  width: 30%;
  margin-top: 10px;
  background-color: white;
}

.display-card {
  display: grid;
  grid-template-columns: 45% 55%;
  padding: 20px;
  border-style: solid;
  border-width: thin;
}

.display-item {
}

.display-image {
  height: 300px;
  grid-column: 1;
  grid-row: 1 / span 4;
  justify: right;
  text-align: right;
  right: 0px;
  width: 80%;
}

.display-header {
  grid-column: 2;
  grid-row: 1;
}

.display-race {
  grid-column: 2;
  grid-row: 2;
  font-size: 1em;
}

.display-job {
  grid-column: 2;
  grid-row: 3;
  font-size: 0.8em;
}

.display-age {
  grid-column: 2;
  grid-row: 4;
  font-size: 0.8em;
}

.display-highSkillHeading {
  grid-column: 1;
  grid-row: 5;
  font-size: 0.7em;
}

.display-highSkill {
  grid-column: 2;
  grid-row: 5;
  font-size: 0.7em;
}

.display-lowSkillHeading {
  grid-column: 1;
  grid-row: 6;
  font-size: 0.7em;
}

.display-lowSkill {
  grid-column: 2;
  grid-row: 6;
  font-size: 0.7em;
}

.display-description {
  grid-column: 1 / span 3;
  grid-row: 7;
  font-size: 0.7em;
}

.list-container {
  opacity: 0;
  position: absolute;
  top: 15%;
  z-index: 90;
}

.list-container.fadeIn {
  transition: opacity 1.1s;
  -webkit-transition: opacity 1.1s;
  opacity: 1;
}

.list-container.fade {
  transition: opacity 0.75s;
  -webkit-transition: opacity 0.75s;
  opacity: 0;
}

.list-display {
  display: grid;
	grid-auto-flow: row;
	grid-gap: 1px;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, auto);
  align-items: center;
  margin-left: 23%;
  margin-right: 40%
}

.list-card {
  display: grid;
  width: 90%;
  height: 80%;
  border-style: solid;
  border-width: thin;
  border-radius: 4px;
  margin: 17px;
  padding-left: 4px;
  padding-right: 4px;
  cursor: pointer;
  flex: 1 1 0;
  background-color: white;
}

.list-image {
  height: 100px;
  width: 50px;
  grid-column: 1;
  grid-row: 1 / span 4;
  justify: right;
  text-align: right;
  right: 0px;
  margin: 5px;
}

.list-header {
  font-size: 1em;
  grid-column: 2;
  grid-row: 1;
}

.list-race {
  font-size: 0.8em;
  grid-column: 2;
  grid-row: 2;
}

.list-job {
  font-size: 0.75em;
  grid-column: 2;
  grid-row: 3;
}

.list-age {
  grid-column: 2;
  grid-row: 4;
  font-size: 0.75em;
}
