body {
  font-family: "Exo 2", verdana, sans-serif;
  font-size: 1.5em;
  position: relative;
}

h1 {
  text-align: center;
}

a {
  color: #00B7FF;
}

.initial-buttons {
  text-align: center;
}

.initial-button {
  width: 20%;
  padding: 5px;
  margin-top: 8px;
  margin-bottom: : 8px;
  margin-left: 33%;
  margin-right: 33%;
  display: inline-block;

  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: content-box;

  text-align: center;
  font-size: 1em;

  cursor: pointer;
}

.hidden-generate {
  position: fixed;
  visibility: hidden;
  z-index: 50;
  border-style: solid;
  border-width: 1px;

  text-align: center;

  margin-top: 10%;
  margin-left: 36%;
  margin-right: 33%;

  padding: 1%;

  background-color: white;
}

#display {
  text-align: center;
}

#list-container {
  display: none;
}

#list-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.list-card {
  border-style: solid;
  border-width: thin;
  border-radius: 4px;
  margin: 4px;
  padding-left: 4px;
  padding-right: 4px;
  cursor: pointer;
}
